[data-style="photo"] { 
    filter : grayscale(100%);
    width : 100%;
    height: auto;
    border-radius: 8px;
    };

[data-style='headerPicture'] {
    filter: grayscale(100%);
    width : 100%;
    height: auto;
}

#titleContainer {
    position: relative; /* Asegura que el z-index funcione */
    z-index: 50; /* Ajusta el valor según sea necesario para que esté encima de MovingPicture */
    };

[data-style="field"] {
    z-index: 1;
    position: absolute;
}


.pl-2::-webkit-scrollbar {
    display: none;
  }

[data-style="navbar"] {
    position: relative;
    z-index: 100;
}